flows.json
[
    {
        "id": "0dfabb908501e280",
        "type": "tab",
        "label": "Linking",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f95d53a5182acf5e",
        "type": "tab",
        "label": "ENV",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b166ec0fe4c78e3",
        "type": "tab",
        "label": "Balance",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "39db1b13f8d61135",
        "type": "tab",
        "label": "Phone book",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f797d471579baf73",
        "type": "tab",
        "label": "Messages",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4004417c3f3f1e00",
        "type": "group",
        "z": "0dfabb908501e280",
        "name": "linking",
        "style": {
            "label": true
        },
        "nodes": [
            "346e518816416d1d",
            "b7c366424b9b7e6e",
            "1764f8568a80ddbd",
            "286431cd31c9fc7a",
            "4307ecabcc6486c7",
            "6544322b922c1a49",
            "7739c6ef4683fa04",
            "5accd99f247f88ec",
            "7ce3e0949b4a483f",
            "6a3c98d4b6b016de",
            "a902fac8c21085e6",
            "84c75bed55ab1dd8"
        ],
        "x": 44,
        "y": 39,
        "w": 832,
        "h": 262
    },
    {
        "id": "7846481e870df3f9",
        "type": "mongodb",
        "hostname": "${TURBOSMSDB-MONGO-HOST-NAME}",
        "topology": "direct",
        "connectOptions": "authSource=admin",
        "port": "27017",
        "db": "${TURBOSMSDB-MONGO-DB-NAME}",
        "name": ""
    },
    {
        "id": "346e518816416d1d",
        "type": "link in",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "find",
        "links": [],
        "x": 85,
        "y": 80,
        "wires": [
            [
                "a902fac8c21085e6"
            ]
        ]
    },
    {
        "id": "b7c366424b9b7e6e",
        "type": "link in",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "aggregate",
        "links": [],
        "x": 85,
        "y": 260,
        "wires": [
            [
                "84c75bed55ab1dd8"
            ]
        ]
    },
    {
        "id": "1764f8568a80ddbd",
        "type": "link in",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "insert",
        "links": [],
        "x": 85,
        "y": 140,
        "wires": [
            [
                "7739c6ef4683fa04",
                "7ce3e0949b4a483f"
            ]
        ]
    },
    {
        "id": "286431cd31c9fc7a",
        "type": "link in",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "update",
        "links": [],
        "x": 85,
        "y": 200,
        "wires": [
            [
                "5accd99f247f88ec",
                "6a3c98d4b6b016de"
            ]
        ]
    },
    {
        "id": "4307ecabcc6486c7",
        "type": "link out",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 825,
        "y": 80,
        "wires": []
    },
    {
        "id": "6544322b922c1a49",
        "type": "link out",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "link out 2",
        "mode": "return",
        "links": [],
        "x": 835,
        "y": 260,
        "wires": []
    },
    {
        "id": "7739c6ef4683fa04",
        "type": "link out",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "link out 4",
        "mode": "return",
        "links": [],
        "x": 145,
        "y": 120,
        "wires": []
    },
    {
        "id": "5accd99f247f88ec",
        "type": "link out",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "name": "link out 5",
        "mode": "return",
        "links": [],
        "x": 145,
        "y": 180,
        "wires": []
    },
    {
        "id": "7ce3e0949b4a483f",
        "type": "mongodb out",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "6a3c98d4b6b016de",
        "type": "mongodb out",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "a902fac8c21085e6",
        "type": "mongodb in",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "operation": "find",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "4307ecabcc6486c7"
            ]
        ]
    },
    {
        "id": "84c75bed55ab1dd8",
        "type": "mongodb in",
        "z": "0dfabb908501e280",
        "g": "4004417c3f3f1e00",
        "mongodb": "7846481e870df3f9",
        "name": "",
        "collection": "",
        "operation": "aggregate",
        "x": 480,
        "y": 260,
        "wires": [
            [
                "6544322b922c1a49"
            ]
        ]
    },
    {
        "id": "c506429378527a1d",
        "type": "function",
        "z": "f95d53a5182acf5e",
        "name": "save token",
        "func": "const processENV = {\n    token: msg.payload.token,\n}\n\nglobal.set('processENV', processENV)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "3b8e7c6fc98f4c97"
            ]
        ]
    },
    {
        "id": "ebb8b9a3836fc9b4",
        "type": "http in",
        "z": "f95d53a5182acf5e",
        "name": "",
        "url": "/saveToken",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "c506429378527a1d"
            ]
        ]
    },
    {
        "id": "3b8e7c6fc98f4c97",
        "type": "http response",
        "z": "f95d53a5182acf5e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 440,
        "y": 80,
        "wires": []
    },
    {
        "id": "76ddcdc73017b6b2",
        "type": "http in",
        "z": "f95d53a5182acf5e",
        "name": "",
        "url": "/getToken",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "193d6c629901aff5"
            ]
        ]
    },
    {
        "id": "193d6c629901aff5",
        "type": "function",
        "z": "f95d53a5182acf5e",
        "name": "get",
        "func": "const token =global.get(\"processENV\").token\n\nmsg.payload = token\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 140,
        "wires": [
            [
                "6f56821eb2694cd2",
                "692b0b7e3a45611a"
            ]
        ]
    },
    {
        "id": "6f56821eb2694cd2",
        "type": "http response",
        "z": "f95d53a5182acf5e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "692b0b7e3a45611a",
        "type": "debug",
        "z": "f95d53a5182acf5e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 180,
        "wires": []
    },
    {
        "id": "e979def8a58aede3",
        "type": "function",
        "z": "1b166ec0fe4c78e3",
        "name": "get",
        "func": "msg.token =global.get(\"processENV\").token\n\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + msg.token\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "541331abd5509201"
            ]
        ]
    },
    {
        "id": "3256e831a457985a",
        "type": "http in",
        "z": "1b166ec0fe4c78e3",
        "name": "",
        "url": "/getBalance",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "e979def8a58aede3"
            ]
        ]
    },
    {
        "id": "541331abd5509201",
        "type": "http request",
        "z": "1b166ec0fe4c78e3",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.turbosms.ua/user/balance.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 80,
        "wires": [
            [
                "dadd466f9c35e18e",
                "9ef3fc261fc22b5b"
            ]
        ]
    },
    {
        "id": "dadd466f9c35e18e",
        "type": "http response",
        "z": "1b166ec0fe4c78e3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ef3fc261fc22b5b",
        "type": "debug",
        "z": "1b166ec0fe4c78e3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 140,
        "wires": []
    },
    {
        "id": "3b1a3b3b87ec1957",
        "type": "http request",
        "z": "f797d471579baf73",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.turbosms.ua/message/send.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 490,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "dc31bb09321f0128",
        "type": "function",
        "z": "f797d471579baf73",
        "name": "send sms",
        "func": "msg.token = global.get(\"processENV\").token\nmsg.payload = {\n    \"sender\": \"Pets\",\n    \"recipients\": [\n        \"380507240273\",\n    ],\n    \"sms\": {\n        \"sender\": \"Pets\",\n        \"text\": \"Test\",\n\n    }\n}\n\n\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + msg.token\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 100,
        "wires": [
            [
                "3b1a3b3b87ec1957"
            ]
        ]
    },
    {
        "id": "c49dd22768e5e0c6",
        "type": "inject",
        "z": "f797d471579baf73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "dc31bb09321f0128"
            ]
        ]
    },
    {
        "id": "ce20964b3f0e9ac8",
        "type": "inject",
        "z": "f797d471579baf73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "d9be8abe0f2ff96d"
            ]
        ]
    },
    {
        "id": "d9be8abe0f2ff96d",
        "type": "function",
        "z": "f797d471579baf73",
        "name": "function 1",
        "func": "msg.token = global.get(\"processENV\").token\n\n\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + msg.token\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "ad2448e493adf1fc"
            ]
        ]
    },
    {
        "id": "ad2448e493adf1fc",
        "type": "http request",
        "z": "f797d471579baf73",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.turbosms.ua/chat/senders.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "b80062dff6c2b3cd"
            ]
        ]
    },
    {
        "id": "f518d7067bccbe58",
        "type": "debug",
        "z": "f797d471579baf73",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "7d94c73d113acbc8",
        "type": "http in",
        "z": "f797d471579baf73",
        "name": "",
        "url": "/getSendersList",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "d9be8abe0f2ff96d"
            ]
        ]
    },
    {
        "id": "b80062dff6c2b3cd",
        "type": "function",
        "z": "f797d471579baf73",
        "name": "to app",
        "func": "\nmsg.payload = msg.payload.response_result\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 260,
        "wires": [
            [
                "f518d7067bccbe58",
                "04639a6cac7095f1"
            ]
        ]
    },
    {
        "id": "04639a6cac7095f1",
        "type": "http response",
        "z": "f797d471579baf73",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 260,
        "wires": []
    },
    {
        "id": "17aaf3624081e08d",
        "type": "inject",
        "z": "f797d471579baf73",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "716e36b304edf121"
            ]
        ]
    },
    {
        "id": "716e36b304edf121",
        "type": "function",
        "z": "f797d471579baf73",
        "name": "function 2",
        "func": "msg.token = global.get(\"processENV\").token\n\nmsg.payload={\n    \"page\":1,\n    \"rows\":500,\n    \"sender_id\": 4708,\n    // \"sender\": \"Pets\",\n    //     \"new_only\": 1\n\n}\nmsg.headers = {\n    \"Authorization\": \"Bearer \" + msg.token\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 420,
        "wires": [
            [
                "0d79582133040d98"
            ]
        ]
    },
    {
        "id": "0d79582133040d98",
        "type": "http request",
        "z": "f797d471579baf73",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://api.turbosms.ua/chat/recipients.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "efd0a509601a9d8d"
            ]
        ]
    },
    {
        "id": "34608d84da21d040",
        "type": "debug",
        "z": "f797d471579baf73",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "c2ea9474598aacaf",
        "type": "http in",
        "z": "f797d471579baf73",
        "name": "",
        "url": "/getResipiensList",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "716e36b304edf121"
            ]
        ]
    },
    {
        "id": "efd0a509601a9d8d",
        "type": "function",
        "z": "f797d471579baf73",
        "name": "to app",
        "func": "\nmsg.payload = msg.payload.response_result\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "34608d84da21d040",
                "4e5f589881703db0",
                "3632377ea7c70970"
            ]
        ]
    },
    {
        "id": "4e5f589881703db0",
        "type": "http response",
        "z": "f797d471579baf73",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "3632377ea7c70970",
        "type": "function",
        "z": "f797d471579baf73",
        "name": "function 3",
        "func": "msg.payload = msg.payload.filter(e => e.number === '380507240273')\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 480,
        "wires": [
            [
                "34608d84da21d040"
            ]
        ]
    }
]